*{margin: 0; padding: 0; box-sizing: border-box;}

html{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #1f2d3d;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: #1f2d3d;
}

body:after{
    content: "HYEJI©HOI";
    color: #fff;
    font-size: 12px;
    margin-top: 30px;
    font-weight: 600;
}

.modal{
    padding: 40px 36px 36px;
    background: #fff;
    border-radius: 12px;
    transition: box-shadow 250ms ease-in, transform 250ms ease-in;
}
.modal:hover{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}
h1{
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.35;
    letter-spacing: -0.025em;
    color: #474747;
}
p{
    margin-bottom: 28px;
    font-size: 14px;
    line-height: 1.5;
    color: #666;
    letter-spacing: 0.01em;
}
a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 60px;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.01em;
    text-decoration: none;
    background: linear-gradient(90deg, #f9d423 0%, #ff4e50 100%);
}